{%extends 'base.html'%}
{%block body%}
{%if messages%}
{%for m in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{m}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}
{%endif%}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {%for product in products %}
          <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                {%if product.image%}
                <img class="card-img-top" style="height:200px; width: 100%;" src="" alt="..." />
                {%else%}
                <img class="card-img-top" style="height:200px; width: 100%;" src="" alt="..." />
                {%endif%}
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name -->
                       
                        <h5 class="fw-bolder"> {{product.name}}</h5>
                        <h5 class="fw-bolder"> ${{product.price}}</h5>
                        <h5 class="fw-bolder"> {{product.owner}}</h5>
                        <h5 class="fw-bolder"> {{product.description}}</h5>
                        <h5 class="fw-bolder"> {{product.condition}}</h5>
                        <h5 class="fw-bolder"> {{product.category}}</h5>
                        <h5 class="fw-bolder"> {{product.location}}</h5>
                                            
                        
                        

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product-details'  product.id%}">View options</a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            {%endfor%}
            </div>
        </section>
{%endblock%}